:root {
    --blue: #537188;
    --yellow-dark: #CBB279;
    --yellow-light: #e1d4bb;
    --light-gray: #eeeeee;
    --white: #fff;
}

* {
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
}

button {
    width: 15rem;
    height: 3rem;
    border-radius: 1.5rem;
    border-style: none;
    font-size: 1.5rem;
    font-weight: bold;
}
#title-name {
    font-size: 5rem;
}
#choose-pet {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & p {
        font-size: 2rem;
    }

    & button {
        margin: auto 0.5rem;
        width: 5rem;
        height: 5rem;
        background-color: red;
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;
    }
    & img {
        width: 90%;
        height: 90%;
    }
}
#choose-pet button {
        width: 5rem;
        height: 5rem;
        background-color: red;
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;
}
#random-doggos, #favourite-doggos {
    background-color: var(--light-gray);
    padding: 3rem 1.5rem;
    border-radius: 1rem;
}

.subtitles {
    font-size: 3rem;
}
.pet-card {
    width: 100%;
    padding: 2rem;
    background-color: var(--yellow-light);
    border-radius: 1.5rem;
    display: flex;

    flex-direction: column;
    align-items: center;
}
.pet-card h3 {
    font-size: 1.7rem;
}
.pet-card p {
    font-size: 1.7rem;
}
.pet-container {
    position: relative;
    max-width: 20rem;
    height: 20rem;
    margin: 0 auto;
    
}
.pet {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.3);
}

.pin-save {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background: var(--yellow-dark);
    border-radius: 1rem;
    right: .5rem;
    top: .5rem;
    cursor: pointer;

    box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.3);
}
.pin-save img {
    width: 50%;
    height: 50%;
}

.reload {
    background: var(--blue);
    color: var(--yellow-light);
    cursor: pointer;
}
.pet-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(3rem, 1fr));
    justify-items: center;
    gap: 1rem;
    
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .pet-grid {
        grid-template-columns: repeat(3, minmax(3rem, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .pet-container {
        position: relative;
        width: 13rem;
        height: 13rem;
        margin: 0 auto;
    }
    .pet-grid {
        width: 85%;
        grid-template-columns: repeat(2, minmax(3rem, 1fr));
    }
}